
.header {
    // max-width: 1440px;
    margin: 0 auto;
    padding: 23px 16px;

    @include large {
        padding: 23px 36px;
    }

    .overlay {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: black;
        cursor: pointer;
        z-index: 2;

        &.active {
            visibility: visible;
            opacity: .2;
        }
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            display: flex;
            align-items: center;

            img {

            }
        }

        .menu {
            width: 90%;
            display: flex;
            justify-content:space-between;
            align-items: center;

            @include medium {
                display: none;
            }

            .navbar__links {
                display: flex;

                li {
                    position: relative;

                    a {
                        display: inline-block;
                        margin-right: 40px;
                        color: $Medium-Gray;
                        cursor: pointer;
                        transition: all 250ms ease-in-out;

                        &:hover {
                            color: $Almost-Black;
                        }

                        img {
                            margin-left: 9px;
                        }
                    }

                    .dropdowncompany-desk {
                        visibility: hidden;
                        opacity: 0;
                        position: absolute;
                        top: calc(73px - 25px);
                        right: 10px;
                        padding: 18px 0;
                        width: 160px;
                        background-color: #fff;
                        border-radius: 15px;
                        box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.1);
                        transition: all 200ms ease-in-out;

                        &.active {
                            visibility: visible;
                            opacity: 1;
                        }

                        li {

                            a {
                                width: 100%;
                                padding: 10px 0;
                                padding-left: 10px;
                                font-size: .8rem;
                                display: flex;
                                align-items: center;
                            }
                        }
                    }

                    .drop-down-desktop {
                        visibility: hidden;
                        opacity: 0;
                        position: absolute;
                        top: calc(73px - 25px);
                        right: 35px;
                        padding: 18px 0;
                        width: 160px;
                        background-color: #fff;
                        border-radius: 15px;
                        box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.1);
                        transition: all 200ms ease-in-out;

                        &.active {
                            visibility: visible;
                            opacity: 1;
                        }

                        li {

                            a {
                                width: 100%;
                                padding: 10px 0;
                                padding-left: 10px;
                                font-size: .8rem;
                                display: flex;
                                align-items: center;

                                img {
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
            }

            .btn {
                
                .btn-primary {
                    margin-right: 40px;
                    color: $Medium-Gray;
                    font-size: 16px;
                    transition: all 300ms ease-in-out;

                    &:hover {
                        color: $Almost-Black;
                    }
                }

                .btn-secondary {
                    padding: 11px 22px;
                    width: 90%;
                    margin-inline: auto;
                    text-align: center;
                    border: 2px solid $Medium-Gray;
                    border-radius: 18px;
                    color: $Medium-Gray;
                    font-size: 16px;
                    transition: all 300ms ease-in-out;
                    
                    &:hover {
                        color: $Almost-Black;
                        border-color: $Almost-Black;
                    }
                }
            }
        }

        .hamburger {
            @include medium {
                display: block;
            }

            > span {
                display: block;
                width: 33px;
                height: 3px;
                background-color: $Almost-Black;

                &:not(:last-child) {
                    margin-bottom: 6px;
                }
            }

            // > span:not(:last-child) {

            // }
        }
    }

    .side-bar {
        visibility: hidden;
        opacity: 0;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 40%;
        width: 60%;
        padding: 20px;
        background: $Almost-White;
        transition: all 200ms ease-in-out;
        z-index: 99;

        &.is-active {
            visibility: visible;
            opacity: 1;
        }

        .lists {
            margin-bottom: 36px;

            .close {
                display: flex;
                justify-content: end;
                margin-bottom: 36px;

                img {
                    
                }
            }

            li {
                position: relative;

                a {
                    display: flex;
                    align-items: center;
                    padding: 15px 0;
                    color: $Medium-Gray;

                    &:hover {
                        color: $Almost-Black;
                    }

                    img {
                        margin-left: .5rem;
                    }
                }

                .dropdown {
                    display: none;
                    margin-left: 12px;

                    &.active {
                        display: block;
                    }

                    li {

                        a {
                            display: flex;
                            align-items: center;

                            img {
                                width: .95rem;
                                margin-right: 16px;
                            }
                        }
                    }
                }

                .dropdowncompany {
                    display: none;
                    margin-left: 32px;

                    &.active {
                        display: block;
                    }
                }
            }
            
        }

        .btn {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &-primary {
                padding: 16px 68px;
                color: $Medium-Gray;
                font-size: 16px;
                transition: all 300ms ease-in-out;

                &:hover {
                    color: $Almost-Black;
                }
            }

            &-secondary {
                padding-top: 16px ;
                padding-bottom: 16px ;
                width: 90%;
                margin-inline: auto;
                text-align: center;
                border: 2px solid $Medium-Gray;
                border-radius: 18px;
                color: $Medium-Gray;
                font-size: 16px;
                transition: all 300ms ease-in-out;
                
                &:hover {
                    color: $Almost-Black;
                    border-color: $Almost-Black;
                }
            }
        }
    }
}